.title {
  text-align: center;
  padding-top: 15%;
}

.text {
  color: blue;
  text-align: center;
}

.span-1 {
  margin-left: 35%;
}

.span-2 {
  margin-left: 20%;
}

.span-3 {
  margin-left: 25%;
}

.Homepage-button {
  margin-top: 6%;
  margin-left: 27%;
}

.Quiz-Directions {
  position: relative;
  text-align: center;
  color: blue;
}

.Quiz-Question {
  text-align: center;
}
.Quiz-Button {
  margin-left: 28%;
  margin-bottom: 3%;
}

.Quiz-Button-Finished {
  margin-top: 2%;
  margin-left: 44%;
}