.title {
  text-align: center;
  padding-top: 15%;
}

.text {
  color: blue;
  text-align: center;
}

.span-1 {
  margin-left: 35%;
}

.span-2 {
  margin-left: 20%;
}

.span-3 {
  margin-left: 25%;
}

.Homepage-button {
  margin-top: 6%;
  margin-left: 27%;
}

.Quiz-Directions {
  position: relative;
  text-align: center;
  color: blue;
}

.Quiz-Question {
  text-align: center;
}
.Quiz-Button {
  margin-left: 28%;
  margin-bottom: 3%;
}

.Quiz-Button-Finished {
  margin-top: 2%;
  margin-left: 44%;
}
.counselor-img {
  height: auto;
  width: 110px;
  border-radius: 25px;
}
.counselor-card-container {
  display: flex;
  border: 2px solid black;
  border-radius: 25px;
  margin: 1em;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.counselor-card-img {
  justify-content: center;
  padding: 1em;
}
.counselor-card-bio {
  justify-content: center;
  padding: 1em;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
}
.profile-name-pic {
  justify-content: center;
  padding: 1em;
  margin: 1em;
}
.profile-info {
  justify-content: center;
  padding: 1em;
  width: 60%;
  border: 2px solid black;
  border-radius: 25px;
  margin: 1em;
}
.profile-pic {
  width: 200px;
  height: auto;
}
.reviews {
  width: 80%;
}
.review-box {
  border: 2px solid black;
  border-radius: 25px;
  padding: 1em;
  width: 80%;
}